@charset "utf-8";


.banner h3 {
    text-align: left;    
}
.b-img {
    margin: auto 0;
}
.b-img img {
    width: 300px;
    max-width: none;
    flex-shrink: 0;
}

.b-box {
	display: flex;
	justify-content: center;
    padding: 1em;
    
}
.b-text {
	max-width: 700px;
    padding-left: 2em;
}

.web-flex {
	display: flex;
	justify-content: space-between;
    padding-top: 7rem;
}
.webiste .web-flex:nth-of-type(even) {
	flex-direction: row-reverse;
}
.web-text {
	max-width: 560px;
    padding: 0 20px;
}
.web-text span {
    text-align: center;
}

.graphic-img {
    text-align: center;
}
.graphic-text {
	text-align: center;
    margin: 2em auto;
}


@media (max-width:800px){


.banner h3 {
    text-align: center;    
}
.b-box {
	display: block;
    justify-content: center;
    text-align: center;
}
.b-text {
    margin: 0 auto;
	max-width: 600px;
    padding: 1em 0;
}

.web-flex {
    display: block;
    text-align: center;  
}
.web-text {
	max-width: 600px;
    margin: 2em auto;
}
    
}
